################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/todoapp.metadata.v9.bin
/.vs/ProjectEvaluation/todoapp.projects.v9.bin
/.vs/ProjectEvaluation/todoapp.strings.v9.bin
/bin/Debug/net8.0
/.gitignore
/.gitignore
/.vs/TodoApp/CopilotIndices/17.14.1091.29919
/.vs/TodoApp.slnx/FileContentIndex/0b0a43ca-5a99-45f7-a185-18afa79e8fcb.vsidx
*.vsidx
